svg {
    font-size: 50px;
}

.upload-cont {
    width: 100vw;
    max-width: 500px;
    min-height: 100vh;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 0;
    background-color: #E9DBCE;
} 

.camera {
    margin-top: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 90%;
    height: 80%;
} 

.screens .photo-review {
    width: 80%;
    aspect-ratio: 1;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 30px;
}



.screens img {
    height: 100%;
    margin-bottom: 20px;
}


.upload-form {
    width: 80%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    flex-direction: column;
    row-gap: 10px;
}


.upload-form input {
    padding-left: 5px;
    height: 30px;
    border-radius: 10px;
    border-color: white;
    border-style: solid;
    color: #36251D;
    font-size: 20px;
}

.upload-form button {
    height: 40px;
    font-size: 25px;
    color: #E9dbce;
    background-color: #656d4a;
    border-radius: 20px;
    box-shadow: none;
    border: none;
    margin-bottom: 110px;
}

.retake-cont {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: transparent;
}


#retake {
    position: relative;
    width: 20px;
    top: 10px;
    left: 10px;
    padding: 5px 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}

#retake img {
    width: 100%;
}




.screens {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #E9DBCE;
    
}

.screens .webcam-cont {
    width: 100%;
    aspect-ratio: 1;
    height: fit-content;
    margin-bottom: 20px;
    background-color: #E9DBCE;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border-radius: 40px;
}

.screens .webcam-cont .webcam{
    margin: 0;
    padding: 0;
    height: 100%;
    border-radius: 40px;
}

.camera-buttons {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.flip {
    border-color: aliceblue;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.flip img {
    width: 50%;
    height: 50%;
    margin: 0;
}

#sc {
    border-color: aliceblue;
    width: 90px;
    height: 90px;
    border-radius: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

